
@import "./base";
@import "./variable";

.rt-footer{
   height: 673px;
   margin-top: 50px;
   background-size: cover;
   background-repeat: no-repeat; 
   overflow: hidden;
   display: flex;
   align-items: center;
   position: relative;
   &__vactor1{
    position: absolute;
    top: 0;
   }
   &__content{
      width: 491px;
      height: 1648px;
      transform: rotate(-90deg);
      flex-shrink: 0;
      background: url('/assets/image/footer-shadow.png'), no-repeat;
      filter: blur(150px);
   }
}